<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <b><span class="align-middle" th:text="${user.getEmail()}"></span></b>
            <span class="align-middle">with roles:</span>
        <td><span th:each="role:${user.roles}" th:text="${role.role} + ' '"/></td>
        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>
<div class="page-header">
    <h1>
        <span></span>
    </h1>
</div>

<div class="container-fluid">
    <div class="row">
        <nav class="col-3 flex-column bg-white">
            <nav class="nav flex-column">
                <a class="nav-link active bg-primary text-white" aria-current="page"
                   th:href="@{/admin}">Admin</a>
                <a class="nav-link" th:href="@{/user}">User</a>
            </nav>
        </nav>
        <nav class="col flex-column">
            <h2>Admin panel</h2>
            <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                       aria-controls="pills-home" aria-selected="true">Users table</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                       aria-controls="pills-profile" aria-selected="false">New user</a>
                </li>
            </ul>
            <h4>All users</h4>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user:${users}">
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.firstName}"></td>
                            <td th:text="${user.lastName}"></td>
                            <td th:text="${user.age}"></td>
                            <td th:text="${user.email}"></td>
                            <td><span th:each="role:${user.roles}" th:text="${role.role} + ' '"/></td>
                            <td>
                                <button class="btn btn-info"
                                        data-toggle="modal"
                                        data-target="#modal-edit"
                                        th:attrappend="data-target=${user.id}"
                                        th:text="'Edit'">

                                </button>

                                <div class="modal fade text-center"
                                     th:id="'modal-edit' + ${user.id}"
                                     role="dialog"
                                     tabindex="-1"
                                     aria-hidden="true">

                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="font-weight-bold" id="edit-title"
                                                     th:text="'Edit user'">
                                                    Modal
                                                </div>
                                                <button type="button" class="close" data-dismiss="modal" Close>
                                                    <span>&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-center col-5 offset-2 col-md-5 offset-md-2">
                                                <form action="#" th:action="@{/admin/edit/{id}(id=${user.id})}"
                                                      th:object="${user}"
                                                      th:method="PATCH">

                                                    <div class="form-group text-center">
                                                        <label class="font-weight-bold" for="person_id">ID</label>
                                                        <input type="text" id="id" th:value="${user.id}"
                                                               th:name="id" disabled>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label class="font-weight-bold" for="names">First Name</label>
                                                        <input type="text" id="name" th:value="${user.firstName}"
                                                               th:name="firstName">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label class="font-weight-bold" for="lastnames">Last
                                                            name</label>
                                                        <input type="text" id="lastname" th:value="${user.lastName}"
                                                               th:name="lastName">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label class="font-weight-bold" for="age">Age</label>
                                                        <input type="text" id="val_age" th:value="${user.age}"
                                                               th:name="age">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label class="font-weight-bold" for="email">Email</label>
                                                        <input type="text" id="mail" th:value="${user.email}"
                                                               th:name="email">
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label class="font-weight-bold" for="pass">Password</label>
                                                        <input type="text" id="pass" th:value="${user.password}"
                                                               th:name="password">
                                                    </div>
                                                    <select multiple class="form-control" id="role"
                                                            th:size="${roleset.size()}" th:name="roles">
                                                        <th:block th:each="role:${roleset}">
                                                            <option th:text="${role.role}" th:value="${role.getId()}"
                                                                    th:selected="${user.getRoles().contains(role)}"/>
                                                        </th:block>
                                                    </select>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Edit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-danger"
                                        data-toggle="modal"
                                        data-target="#modal-delete"
                                        th:attrappend="data-target=${user.id}"
                                        th:text="'Delete'">
                                </button>
                                <div class="modal fade text-center"
                                     th:id="'modal-delete' + ${user.id}"
                                     role="dialog"
                                     tabindex="-1"
                                     aria-hidden="true">

                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="font-weight-bold" id="delete-title"
                                                     th:text="'Delete user'">
                                                    Modal
                                                </div>
                                                <button type="button" class="close" data-dismiss="modal" Close>
                                                    <span>&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body text-center col-5 offset-2 col-md-5 offset-md-2">
                                                <form action="#" th:action="@{/admin/delete/{id}(id=${user.id})}"
                                                      th:object="${user}"
                                                      th:method="DELETE">

                                                    <div class="form-group text-center">
                                                        <label class="font-weight-bold" for="person_id">ID</label>
                                                        <input type="text" id="person_id" th:value="${user.id}"
                                                               th:name="id" disabled>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label class="font-weight-bold" for="names">First Name</label>
                                                        <input type="text" id="names" th:value="${user.firstName}"
                                                               th:name="firstName" disabled>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label class="font-weight-bold" for="lastnames">Last
                                                            name</label>
                                                        <input type="text" id="lastnames" th:value="${user.lastName}"
                                                               th:name="lastName" disabled>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label class="font-weight-bold" for="age">Age</label>
                                                        <input type="text" id="age" th:value="${user.age}"
                                                               th:name="age" disabled>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label class="font-weight-bold" for="email">Email</label>
                                                        <input type="text" id="email" th:value="${user.email}"
                                                               th:name="email" disabled>
                                                    </div>
                                                    <div class="form-group text-center">
                                                        <label class="font-weight-bold" for="password">Password</label>
                                                        <input type="text" id="password" th:value="${user.password}"
                                                               th:name="password" disabled>
                                                    </div>
                                                    <select multiple class="form-control" id="roles"
                                                            th:size="${roleset.size()}" th:name="roles">
                                                        <th:block th:each="role:${roleset}">
                                                            <option th:text="${role.role}" th:value="${role.getId()}"
                                                                    th:selected="${user.getRoles().contains(role)}"
                                                                    th:name="role" disabled/>

                                                        </th:block>
                                                    </select>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button type="submit" class="btn btn-danger">Delete</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

                    <div class="row-cols-auto  bg-white no-gutters">
                        <div class="col-12 bg-light border">
                            <h5 class="pl-3 pt-2 pb-2">Add new user</h5>
                        </div>
                        <div class="col-12 pl-3 pr-3 pt-3 pb-3 border">
                            <form action="#" th:action="@{/admin/add}" th:object="${useradd}" method="post">
                                <div class="text-center col-12 offset-3 col-md-6 offset-md-3">
                                    <div class="form-group text-center">
                                        <label class="font-weight-bold" for="firstNameNew">First Name</label>
                                        <input id="firstNameNew" class="form-control" th:field="*{firstName}"
                                               placeholder="First name">
                                    </div>
                                    <div class="form-group text-center">
                                        <label class="font-weight-bold" for="lastNameNew">Last
                                            Name</label>
                                        <input id="lastNameNew" class="form-control"
                                               th:field="*{lastName}"
                                               placeholder="Last name">
                                    </div>

                                    <div class="form-group text-center">
                                        <label class="font-weight-bold" for="lastNameNew">Age</label>
                                        <input id="ageNew" class="form-control"
                                               th:field="*{age}"
                                               placeholder="Age">
                                    </div>

                                    <div class="form-group text-center">
                                        <label class="font-weight-bold" for="emailNew">Email</label>
                                        <input id="emailNew" class="form-control"
                                               th:field="*{email}"
                                               placeholder="Email">
                                    </div>

                                    <div class="form-group text-center">
                                        <label class="font-weight-bold" for="passwordNew">Password</label>
                                        <input type="password" id="passwordNew" class="form-control"
                                               th:field="*{password}" placeholder="Password">
                                    </div>
                                    <div class="form-group text-center">
                                        <label class="font-weight-bold" for="rolesNew">Role</label>
                                        <select multiple class="form-control" id="rolesNew"
                                                th:size="${roleset.size()}" th:field="*{roles}">
                                            <th:block th:each="role : ${roleset}">
                                                <option th:text="${role.role}" th:value="${role.getId()}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success btn-lg">Add new user</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>