<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/admin/user-create}" th:object="${user}" method="post">
    <label for="firstName">First Name</label>
    <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
    <label for="lastName">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="email">
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password" placeholder="password">
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age" placeholder="Age">
    <input type="submit" value="Create User">
</form>

</body>
</html>